@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply tracking-wide;
  color: #ffffff;
}
.c-auto {
  @apply container mx-auto;
}

.border-main {
  @apply border border-amber-500;
}

input,
textarea,
select,
option {
  @apply w-full p-2 text-amber-500 focus:outline-none border-main bg-transparent rounded-md;
}

.form-section-div {
  @apply flex flex-col md:flex-row gap-3 items-center mb-2;
}

/* Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}
@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
}

::-webkit-scrollbar-thumb {
  background-color: rgb(237, 182, 17);
  /* border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px; */
  /* border:2px solid rgb(165, 1, 1); */
  border-radius: 6px;
}
